@model IEnumerable<BatteryCommander.Common.Models.Soldier>

@{
    ViewBag.Title = "List";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Add a Soldier", "Edit")

@Html.ActionLink("Bulk Add/Edit Soldiers", "Bulk")

<table class="table table-striped">
    <tr>
        <th>
            Soldier
        </th>
    </tr>

    @foreach (var soldier in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => soldier)
            </td>
        </tr>
    }
</table>