@model ABCP

@if (Model != null)
{
    <div>
        <a href="@Url.Action("Details", "ABCP", new { Model.Id })">
            @if (Model.IsPassing)
            {
                <span class="label label-success">Passing</span>
            }
            else
            {
                <span class="label label-danger">Failure</span>
            }
        </a>
    </div>
}