@model APFT

@if (Model != null)
{
    <div>
        <a href="@Url.Action("Details", "APFT", new { Model.Id })">
            @if (Model.IsPassing)
            {
                <span class="label label-success">Passing (@Model.TotalScore)</span>
            }
            else
            {
                <span class="label label-danger">Failure (@Model.TotalScore)</span>
            }
        </a>
    </div>
}