@model Soldier

@if (Model.IsEducationComplete)
{
    <span class="label label-default">@Model.EducationLevel.ShortName()</span>
}
else
{
    <span class="label label-failure">@Model.EducationLevel.ShortName()</span>
}