@model Soldier

@if (Model.IsEducationComplete)
{
    <span class="label label-success">@Model.EducationLevel.ShortName()</span>
}
else
{
    <span class="label label-danger">@Model.EducationLevel.ShortName()</span>
}