@model Soldier

@if (Model != null)
{
    if(String.Equals("Unknown", Model.LastName, StringComparison.CurrentCultureIgnoreCase))
    {
        <span class="label">Unknown</span>
        return;
    }

    <div>@Html.ActionLink(Model.ToString(), "Details", "Soldiers", new { Model.Id })</div>
}
