@model Soldier

@switch (Model.Status)
{
    case Soldier.SoldierStatus.PresentForDuty:
        <span class="label label-success">@Model.Status.DisplayName()</span>
        return;

    case Soldier.SoldierStatus.Unknown:
        <span class="label label-danger">?</span>
        return;

    default:
        <span class="label label-warning">@Model.Status.DisplayName()</span>
        return;
}