@model Soldier.SSDStatusModel

@if (Model != null)
{
    <div>
        @switch (Model.Rank)
        {
            case Rank.E1:
            case Rank.E2:
            case Rank.E3:
            case Rank.E4:
                <span class="label">SSD 1</span>
                return;

            case Rank.E5:
                <span class="label">SSD 2</span>
                return;

            case Rank.E6:
                <span class="label">SSD 3</span>
                return;

            case Rank.E7:
                <span class="label">SSD 4</span>
                return;

            case Rank.E8:
                <span class="label">SSD 5</span>
                return;

            default:
                return;
        }
    </div>
}