@model Vehicle

@switch(Model.Status)
{
    case Vehicle.VehicleStatus.FMC:
        <span class="label label-success">FMC</span>
        return;

    case Vehicle.VehicleStatus.NMC:
        <span class="label label-danger">NMC</span>
        return;

    default:
        <span class="label label-warning">@Model</span>
        return;
}