@model Embed

﻿@{
    ViewBag.Title = Model.Name;
}
<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<!-- AirTable Embed Script for List -->
<iframe class="airtable-embed" src="@Model.Source" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>