<h1>Privacy Statement</h1>

<h2>For Official Use Only (FOUO)</h2>

<p>By using this system, you have a responsibility to safeguard the information entrusted to you.</p>

<p>Be able to recognize PII and safeguard it.</p>

<p>Collect PII only when authorized.</p>

<p>Collect only necessary information.</p>

<p>Keep the PII accurate, relevant, timely and complete.</p>

<p>Keep PII confidential and protect it from misuse or loss or breach.</p>

<p>
    Please view the Army's policy on Personally Identifiable Information (PII) at <a href="https://www.rmda.army.mil/privacy/PII/PII.html">https://www.rmda.army.mil/privacy/PII/PII.html</a>.
</p>

<div>
    <a href="/" class="btn btn-success btn-xl">Click Here to Continue</a>
</div>