@model IEnumerable<Unit>

<h2>Soldiers</h2>

@Html.ActionLink("Add New Unit", "New")

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Name)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var unit in Model)
        {
            <tr>
                <td>@Html.DisplayFor(s => unit.Name)</td>
                <td>@Html.ActionLink("Edit", "Edit", new { unit.Id })</td>
            </tr>
        }
    </tbody>
</table>