@model BatteryCommander.Common.Models.Qualification

@if (Model != null)
{
    var completed = Model.SoldierQualifications.Count(q => q.Status == BatteryCommander.Common.Models.QualificationStatus.Pass);

    var total = Model.SoldierQualifications.Count(q => q.Status != BatteryCommander.Common.Models.QualificationStatus.NotApplicable);

    var link_text = String.Format("{0} ({1}/{2})", Model.Name, completed, total);

    <span>@Html.ActionLink(link_text, "View", "Qualification", new { qualificationId = Model.Id }, null)</span>
}