@model BatteryCommander.Web.Models.QualificationEditModel

<tr>
    @Html.HiddenFor(s => s.ParentTaskId)
    <td>@Html.EditorFor(s => s.Name)</td>
    <td>@Html.EditorFor(s => s.Description)</td>
</tr>