@model IEnumerable<Soldier>

@{
    ViewBag.Title = "DSCA Tracker";
}

<div class="page-header">
    <h1>@ViewBag.Title <span class="badge">@Model.Count()</span></h1>
</div>

<table class="table table-striped" id="dt">
    <thead>
        <tr>
            <th>Soldier</th>
            <th>DSCA Date</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var soldier in Model)
        {
            <tr>
                <td>@Html.DisplayFor(_ => soldier)</td>
                <td>@Html.DisplayFor(_ => soldier.DscaQualificationDate)</td>
            </tr>
        }
    </tbody>
</table>
