@model Soldier

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Battery Commander</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a class="nav-link" asp-controller="Soldiers" asp-action="Index">Soldiers</a></li>
                <li><a class="nav-link" asp-controller="Vehicles" asp-action="Index">Vehicles</a></li>
                <li><a class="nav-link" asp-controller="SSD" asp-action="Index">SSD</a></li>
                <li><a class="nav-link" asp-controller="Evaluations" asp-action="Index">Evaluations</a></li>
                <li><a class="dropdown-item" asp-controller="APFT" asp-action="Index">APFT</a></li>
                <li><a class="dropdown-item" asp-controller="ABCP" asp-action="Index">ABCP</a></li>
                <li><a class="dropdown-item" asp-controller="DSCA" asp-action="Index">DSCA</a></li>
                <li><a class="dropdown-item" asp-controller="IWQ" asp-action="Index">IWQ</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Reports</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="Reports" asp-action="Red1">RED 1</a>
                        <a class="dropdown-item" asp-controller="Reports" asp-action="SadPerstat">SAD PERSTAT</a>
                        <a class="dropdown-item" asp-controller="Reports" asp-action="DscaReady">DSCA Ready</a>
                    </div>
                </li>
                <li><a asp-controller="Units" asp-action="Index">Units</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-controller="Home" asp-action="Logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>