@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Battery Commander</h1>
    <p class="lead">Battery Commander is a simple web application for managing a training event and battle roster for small units/teams.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Soldiers</h2>
        <p>
            Easy to use soldier information management and communication tools allow
            commanders and leaders to see just the info they need when they need it.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Qualifications and Events</h2>
        <p>Track progress on qualifications and events for your team as they complete assigned tasks.</p>
    </div>
    <div class="col-md-4">
        <h2>Battle Roster</h2>
        <p>See the status of your team and qualifications at a glance, available as an Excel export for easy offline viewing.</p>
    </div>
</div>